<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#75dab4"/>
<title>Palegic | Fish detection</title>
<meta name="author" content="Themezinho">
<meta name="description" content="Tourog | Creative Agensy for Digital Age">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, tourog, digital, studio, css, animation, transition, freelancers">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Tourog | Creative Agensy for Digital Age">
<meta property="og:image" content="http://www.themezinho.net/tourog/preview.png">
<meta property="og:site_name" content="tourog">
<meta property="og:title" content="tourog">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/tourog">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tourog">
<meta name="twitter:creator" content="@tourog">
<meta name="twitter:title" content="tourog">
<meta name="twitter:description" content="Tourog | Creative Agensy for Digital Age">
<meta name="twitter:image" content="http://www.themezinho.net/tourog/preview.png">

<!-- FAVICON FILES -->
<link href="/static/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="/static/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="/static/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="/static/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="/static/ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="/static/css/fontawesome.min.css">
<link rel="stylesheet" href="/static/css/fancybox.min.css">
<link rel="stylesheet" href="/static/css/hamburger.min.css">
<link rel="stylesheet" href="/static/css/odometer.min.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <!-- end layer -->
  <div class="inner">
    <figure> <img src="/static/images/preloader.gif" alt="Image"> </figure>
    <span>Site Loading</span> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="page-transition">
  <div class="layer"></div>
  <!-- end layer --> 
</div>
<!-- end page-transition -->
<nav class="site-navigation">
  <div class="layer"></div>
  <!-- end layer -->
  <div class="inner">
    <ul data-splitting>
      <li><a href="{{url_for('home')}}">HOME</a><i class="fas fa-caret-down"></i> <small>First page</small>
      <ul>
      	<li><a href="{{url_for('home')}}">HOME SLIDER</a></li>
      	<li><a href="#">HOME VIDEO</a></li>
      	<li><a href="#">HOME CAROUSEL</a></li>
      </ul>
        </li>
      <li><a href="#">STUDIO</a> <small>All About Us</small> </li>
      <li><a href="#">SHOWCASES</a> <small>Our all projects</small> </li>
      <li><a href="#">BLOG</a> <small>Recent posts</small> </li>
      <li><a href="#">CONTACT</a> <small>Say hello</small> </li>
    </ul>
  </div>
  <!-- end inner --> 
</nav>
<!-- end site-navigation -->
<div class="social-media">
  <div class="layer"> </div>
  <!-- end layer -->
  <div class="inner">
    <h5>Social Share </h5>
    <ul>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
</div>
<!-- end social-media -->
<div class="all-cases">
  <div class="layer"> </div>
  <!-- end layer -->
  <div class="inner">
    <ul>
      <li><a href="#">Darkness</a></li>
      <li><a href="#">Goddes</a></li>
      <li><a href="#">Employee</a></li>
      <li><a href="#">Berry</a></li>
      <li><a href="#">Roosters</a></li>
      <li><a href="#">Primero</a></li>
    </ul>
  </div>
  <!-- end inner --> 
</div>
<!-- end all-cases -->
<main>
  <aside class="left-side">
    <div class="logo"> <a href="{{url_for('home')}}"><img src="/static/images/logo.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="hamburger" id="hamburger">
      <div class="hamburger__line hamburger__line--01">
        <div class="hamburger__line-in hamburger__line-in--01"></div>
      </div>
      <div class="hamburger__line hamburger__line--02">
        <div class="hamburger__line-in hamburger__line-in--02"></div>
      </div>
      <div class="hamburger__line hamburger__line--03">
        <div class="hamburger__line-in hamburger__line-in--03"></div>
      </div>
      <div class="hamburger__line hamburger__line--cross01">
        <div class="hamburger__line-in hamburger__line-in--cross01"></div>
      </div>
      <div class="hamburger__line hamburger__line--cross02">
        <div class="hamburger__line-in hamburger__line-in--cross02"></div>
      </div>
    </div>
    <!-- end hamburger -->
    <div class="follow-us"> FOLLOW US </div>
    <!-- end follow-us -->
    <div class="equalizer"> <span></span> <span></span> <span></span> <span></span> </div>
    <!-- end equalizer --> 
  </aside>
  <!-- end left-side -->
  <div class="all-cases-link"> <span>ALL CASES</span> <b>+</b> </div>
  <!-- end all-cases-link -->
  <header class="page-header">
  <div class="video-bg">
  	<video src="/static/videos/video02.mp4" muted loop autoplay></video>
  </div>
  <!-- end video-bg -->
  <div class="inner">
  	<div class="container">
  		<h1>Detection and Count</h1>
  		<p>There are total {{count}} of fishes</p>
  	</div>
  	<!-- end container -->
  </div>
  <!-- end inner -->
  </header>
  <!-- end page-header -->
	 <section class="blog">
    <div class="container">
    	<div class="row justify-content-center">
    		<div class="col-lg-10">
    			<div class="post single">
    				<figure class="post-image">
    					<img src="{{filename}}" alt="Image">
    				</figure>
    				</div>
    				<!-- end post-content -->
    			</div>
    			<!-- end post -->
    		</div>
    		<!-- end col-9 -->
    	</div>
    	<!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end blog -->
</main>
<!-- end main -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <h2>Thanks for using the app</h2>
        <a href="#" class="link">Get in touch</a> </div>
      <!-- end col-12 -->
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer -->

<!-- JS FILES --> <script src="/static/js/jquery.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/swiper.min.js"></script> 
<script src="/static/js/wow.min.js"></script> 
<script src='/static/js/splitting.min.js'></script> 
<script src='/static/js/odometer.min.js'></script> 
<script src='/static/js/fancybox.min.js'></script> 
<script src="/static/js/scripts.js"></script>
</body>
</html>
